body {
    background-color: #bfbfbf;
}

h3 {
    text-decoration: underline;
}

h5 {
    margin-left: 1rem;
    line-height: 1.17rem;
}

.d_flex {
    display: flex;
    justify-content: space-around;
}

.dati_viaggiatore,
.prezzi {
    border: 1px solid black;
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
}